.nav-item {
  padding: 0px;
  font-size: 0.813em;
}

.nav-item,
.nav-item .btn-secondary {
  font-size: 0.813em;
  align-content: center;
}
.nav-item .nav-link > .bi {
  font-size: 1.5em;
}
.nav-item .nav-link > span {
  font-size: 1em;
}

.dropdown-hover:hover > .dropdown-menu {
  display: inline-block;
}

.dropdown-hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.navbar .megamenu {
  padding: 1rem;
}

.menus .nav-link:focus,
.menus .nav-link:hover {
  border-bottom: 2px solid var(--bs-navbar-active-color);
}
.dropdown-toggle::after {
  display: none;
}

.font-weight-bold {
  font-weight: bold;
}

.megamenu .list-group-item {
  border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.625;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
}
.h2-light,
h2 {
  font-size: 2.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 2em;
}

.h2-light {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.2em;
}

h3 {
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: auto;
}

h4 {
  font-size: 1.75;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5em;
}

p {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24px;
}
blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.navbar .megamenu {
  padding: 1rem;
}
.menus .nav-item > .nav-link {
  font-weight: 500;
  color: #0c0c0c;
}
.navbar .btn-secondary {
  --bs-btn-bg: #c7c7c7;
  --bs-btn-border-color: var (--bs-btn-bg);
}

.btn {
  border-radius: 0.25em;
}
.btn-primary {
  --bs-btn-bg: #eb0009;
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-hover-bg: #808080;
  --bs-btn-hover-border-color: var (var(--bs-btn-hover-bg));
  --bs-btn-active-bg: var (var(--bs-btn-hover-bg));
  --bs-btn-active-border-color: var (var(--bs-btn-hover-bg));
  --bs-border-width: 0px;
}

.text-red {
  color: #eb0009;
}

/* ============ home ============ */

#heroSlider .carousel-caption h1 {
  color: #fff;
}

.container-fluid {
  --bs-gutter-x: 0px;
}

#featuredProducts a:hover h3,
#featuredProducts a:hover p {
  color: #0c0c0c;
}
#featuredProducts h3 {
  font-weight: 400;
}

h1,
h2,
h3,
#cta1 p,
#cta1 h2,
#bestSeller p,
#shopWomen p,
#shopMen p,
#shopKids p {
  color: #808080;
}

.bgGrey-light {
  background-color: #f4f4f4;
}

.bgGrey-light2 {
  background-color: #f2f2f2;
}

.bgBeige {
  background-color: #f2eeeb;
}

.boxHeight {
  height: 220px;
}

.bordertb {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
.border-line {
  border-top: 1px solid #808080;
}

/**** Footer ****/
footer .icon-link > .bi {
  color: #0c0c0c;
  font-size: 1.25em;
  padding-right: 30px;
}
footer .icon-link > .bi:hover {
  color: #808080;
}
footer .icon-link {
  gap: 2em;
}

footer .nav a {
  font-size: 0.813em;
  color: #0c0c0c;
}

footer .nav a:hover,
footer .nav a:active,
footer .nav a:focus {
  color: #808080;
}
footer span.divider {
  color: #eb0009;
  font-size: 13px;
}
/* ============ home .end// ============ */

/* ============ contact ============ */
.bgftContact {
  background: url("../img/bg.png") center bottom no-repeat;
  background-size: cover;
}
.bgftContact h2,
.bgContact h3 {
  color: #0c0c0c;
}

.bgContact {
  background-color: #f8f8f8;
  border-radius: 4;
  border: 1px solid #d9d9d9;
}
.bgContactInfo {
  background: url("../img/bg-contact.png") center bottom no-repeat;
  padding: 2em 2em 2em 8em;
  text-align: left;
}

.bgContactInfo a {
  color: #fff;
}
/* ============ contact .end// ============ */
